# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VSCode settings
.vscode/

# Virtual environments
venv/
.env/

# Mac system files
.DS_Store

# Python distribution
*.egg
*.egg-info/
dist/
build/

# PyInstaller
*.spec
